.hero-content {
  position: absolute;
  width: 1440px;
  height: 516px;
  left: calc(50% - 1440px/2);
  top: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-yellow-panel {
  position: absolute;
  inset: 0;
  z-index: 2;
  animation: hero-panel-slide-out 3.4s ease-out forwards;
}

.hero-yellow-panel-2 {
  position: absolute;
  inset: 0;
  z-index: 1;
  animation: hero-panel-slide-in 3.5s ease-out forwards;
}

.hero-image {
  position: absolute;
  width: 1440px;
  height: 515px;
  inset: 0;
  z-index: 0;
}

.hero-image img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: relative;
  z-index: 2;
  width: 345px;
  
   
}

.hero-title {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.15;
  color: #3D2314;
  margin-bottom: 32px;
  animation:
    hero-fade-in 1s ease-out forwards,
    hero-slide-up 1s ease-in-out forwards,
    hero-slide-left 1.2s ease-out 1.5s forwards;
}

.hero-desc {
  font-family: 'Palanquin', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.45;
  color: #3D2314;
  animation:
    hero-fade-in 1.5s ease-out forwards,
    hero-slide-up 1s ease-in-out forwards,
    hero-slide-left 1.2s ease-out 1.5s forwards;
}

.hero-spin{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  animation: spin 5s linear infinite;
  z-index: 3;
}


@keyframes hero-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hero-slide-up {
  from {
    transform: translateY(60px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes hero-slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-400px);
  }
}

@keyframes hero-panel-slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes hero-panel-slide-in {
  from {
    transform: translateX(498px);
  }

  to {
    transform: translateX(-50px);
  }
}