* {
  padding-top: 60px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


@font-face {
  font-family: 'Arima';
  src: url('assets/fonds/arima-v7-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arima';
  src: url('assets/fonds/arima-v7-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arima';
  src: url('assets/fonds/arima-v7-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palanquin';
  src: url('assets/fonds/palanquin-v17-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palanquin';
  src: url('assets/fonds/palanquin-v17-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}


.site-header {
  background-color: #4b9c81;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.site-header-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
  height: 128px;
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 102px;   
  margin-left: 146px;     
  height: 72px;
  width: auto;

}

.header-logo img {
  display: block;   
  height: 100%;      
  width: auto;
}

.site-header-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 72px;        
}

.nav-link:last-child {
  margin-right: 0;
}

a[href="index.html#highlights"] {
  position: relative;
}

a[href="index.html#highlights"]::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 121px;
  height: 18px;
  background-image: url('assets/header/hover/high_hover.svg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

a[href="index.html#highlights"]:hover::after {
  opacity: 1;
}

a[href="index.html#faq"] {
  position: relative;
}

a[href="index.html#faq"]::after {
  content: '';
  position: absolute;
  left: -4px;
  bottom: 0px;
  width: 56px;
  height: 9px;
  background-image: url('assets/header/hover/faq_hover.svg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

a[href="index.html#faq"]:hover::after {
  opacity: 1;
}

a[href="index.html#contact"] {
  position: relative;
}

a[href="index.html#contact"]::after {
  content: '';
  position: absolute;
  left: -4px;
  bottom: -3px;
  width: 92px;
  height: 11px;
  background-image: url('assets/header/hover/contact_hover.svg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

a[href="index.html#contact"]:hover::after {
  opacity: 1;
}

.site-footer {
  display: flex;
  background-color: #4EA487;
  padding: 24px;
  height: 152px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw)
}

.site-footer-inner {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-left: 146px;
  max-width: 1440px;
  margin: 0 auto;
  
}

.c-footer-logo {
  height: 24px;
  width: auto;
  gap: 24px;

}

.footer-text {
  font-family: Palanquin;
  color: #FFFFFF;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px; 
}

.footer-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
  margin-left: 5px;
}

.footer-logo-container{
  display: flex;
  align-items: center;
  height: 32px;
  width: auto;
  margin-left: 500px;
  gap: 16px;
}
